$firstColor : #3d1322;
$secondColor: #badbd1;
$thirdColor: #7D0D22;
$lastColor: #bdb964;


$vw1 : 0.2777777777777778vw;

$vw10 : 2.777777777777778vw;
$vw20 : 5.555555555555556vw;
$vw30 : 8.333333333333333vw;
$vw40 : 11.11111111111111vw;
$vw50 : 13.88888888888889vw;
$vw60 : 16.66666666666667vw;
$vw70 : 19.44444444444444vw;
$vw80 : 22.22222222222222vw;
$vw90 : 25vw;
$vw100: 27.77777777777778vw;

$vw12 : 3.333333333333333vw;
$vw14 : 3.888888888888889vw;
$vw16 : 4.444444444444444vw;
$vw18 : 5vw;
$vw24 : 6.666666666666667vw;


$vw5 : 1.388888888888889vw;
$vw15 : 4.166666666666667vw;
$vw25 : 6.944444444444444vw;
$vw35 : 9.722222222222222vw;
$vw45 : 12.5vw;

