@charset "UTF-8";
@font-face {
  font-family: 'Score4';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/S-CoreDream-4Regular.eot");
  src: url("../fonts/S-CoreDream-4Regular.eot#iefix") format("embedded-opentype"), url("../fonts/S-CoreDream-4Regular.woff2") format("woff2"), url("../fonts/S-CoreDream-4Regular.woff") format("woff"), url("../fonts/SCDream4.otf") format("opentype"); }
@font-face {
  font-family: 'aGothic17';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/a고딕17.eot");
  src: url("../fonts/a고딕17.eot#iefix") format("embedded-opentype"), url("../fonts/a고딕17.woff2") format("woff2"), url("../fonts/KoreanGD17-R.woff") format("woff"), url("../fonts/a고딕17.ttf") format("truetype"); }
/* tag reset */
body, h1, h2, h3, h4, h5, p, ul, li, dl, dt, dd, th, td, figure, form, button {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

img {
  vertical-align: top;
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

header, section, nav, article, aside, section, figure {
  display: block; }

input, select, button, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  line-height: inherit; }

fieldset, iframe {
  border: none; }

input[type="text"], input[type="password"], select {
  border: 1px solid #aaa; }

input[type="submit"], input[type="reset"], input[type="button"], button {
  border: none;
  background: 0;
  cursor: pointer; }

address {
  font-style: normal; }

caption {
  width: 1px;
  height: 1px;
  border: none;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

/* common class */
.blind_i {
  width: 1px;
  height: 1px;
  border: none;
  overflow: hidden;
  display: inline-block;
  margin: -1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

.blind_b {
  width: 1px;
  height: 1px;
  border: none;
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

.clearfix::after {
  content: "";
  display: block;
  clear: both; }

.p_a {
  position: absolute; }

.p_r {
  position: relative; }

.f_l {
  float: left; }

.f_r {
  float: right; }

.font2 {
  font-family: aGothic17, "맑은 고딕", "Malgun Gothic", sans-serif;
  font-weight: 700; }

.inner {
  padding-left: 30px;
  padding-right: 30px; }

body {
  font-family: Score4,"맑은 고딕","Malgun Gothic",sans-serif;
  font-size: 12px;
  font-weight: 400;
  word-break: keep-all;
  color: #fff; }

#wrap {
  min-width: 320px;
  overflow: hidden; }

/* #header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 60px;
  background: #fff; }
  #header .logo a {
    position: absolute;
    top: 10px;
    left: 16px;
    z-index: 1000; }
    #header .logo a img {
      width: 50px;
      height: 40px; }

#gnb {
  display: none;
  position: fixed;
  top: 60px;
  left: 100%;
  z-index: 999;
  width: 100%;
  height: calc(100% - 60px);
  background: #badbd1;
  color: #000;
  overflow-y: auto; }
  #gnb .depth2_now {
    display: none;
    position: absolute;
    top: 20px;
    left: 25px;
    width: 260px;
    height: 30px; }
    #gnb .depth2_now::before {
      -webkit-border-radius: 50%;
      border-radius: 50%;
      content: "";
      position: absolute;
      top: 6px;
      left: -3px;
      width: 28px;
      height: 28px;
      background: #efede6; }
    #gnb .depth2_now::after {
      content: "";
      display: block;
      clear: both; }
    #gnb .depth2_now img {
      width: 40px;
      height: 40px;
      float: left;
      position: relative;
      z-index: 1; }
    #gnb .depth2_now span {
      float: left;
      font-family: aGothic17, "맑은 고딕", "Malgun Gothic", sans-serif;
      font-size: 30px;
      margin-left: 4px; }
  #gnb a {
    display: block; }
  #gnb > ul {
    padding-top: 120px;
    padding-left: 75px;
    font-family: aGothic17, "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 30px; }
    #gnb > ul > li + li {
      margin-top: 40px; }
    #gnb > ul > li > a {
      position: relative;
      height: 30px;
      line-height: 30px; }
      #gnb > ul > li > a::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 20px;
        width: calc(100% - 20px);
        height: 2px;
        background: #3d1322; }
      #gnb > ul > li > a::after {
        content: "";
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: inline-block;
        width: 25px;
        height: 16px;
        background: url("../images/common/gnb_arrow.svg") no-repeat center; }
  #gnb .depth2 {
    display: none;
    position: relative;
    padding-bottom: 60px;
    left: 0; }
    #gnb .depth2, #gnb .depth2 > li > a::before, #gnb .depth2 > li > a::after {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    #gnb .depth2 > li + li {
      margin-top: 40px; }
    #gnb .depth2 > li > a {
      font-size: 18px;
      position: relative;
      height: 30px;
      line-height: 30px;
      padding-left: 20px; }
      #gnb .depth2 > li > a::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 20px;
        width: 100%;
        height: 2px;
        background: #3d1322; }
      #gnb .depth2 > li > a.has_arrow::after {
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        content: "";
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: inline-block;
        width: 25px;
        height: 16px;
        background: url("../images/common/gnb_arrow.svg") no-repeat center; }
    #gnb .depth2 > li > ul {
      display: none;
      padding: 15px 0 0 40px; }
      #gnb .depth2 > li > ul > li > a {
        font-size: 16px;
        height: 40px;
        line-height: 40px; }
    #gnb .depth2.on li a::before {
      left: -5px; }
    #gnb .depth2.on li a::after {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
    #gnb .depth2.on li.dep3_on a::after {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg); }

.btn_menu {
  top: 16px;
  right: 20px;
  width: 29px;
  height: 24px;
  z-index: 1100;
  overflow: hidden; }
  .btn_menu, .btn_menu .line {
    position: absolute; }
  .btn_menu .line {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    height: 4px;
    width: 100%;
    background: #000;
    left: 0;
    -webkit-border-radius: 8px;
    border-radius: 8px; }
  .btn_menu .top {
    top: 0; }
  .btn_menu .mid {
    top: 10px; }
  .btn_menu .btm {
    top: 20px; }
  .btn_menu.active .line {
    background: #000 !important; }
  .btn_menu.active .top {
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .btn_menu.active .mid {
    left: 29px; }
  .btn_menu.active .btm {
    top: 10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

/* #footer */
#footer {
  position: relative;
  background: #ddd;
  color: #000;
  padding: 40px 0 70px;
  text-align: center;
  font-weight: 600; }
  #footer .btm_list ul {
    border-bottom: 1px solid #000;
    padding-bottom: 20px; }
    #footer .btm_list ul::after {
      content: "";
      display: block;
      clear: both; }
    #footer .btm_list ul li {
      float: left;
      width: 96px; }
      #footer .btm_list ul li + li {
        margin-left: 5px; }
      #footer .btm_list ul li:nth-of-type(3n+1) {
        margin-left: 0; }
      #footer .btm_list ul li:nth-of-type(n+4) {
        margin-top: 20px; }
  #footer .company_info {
    margin-top: 20px; }
    #footer .company_info li {
      margin-bottom: 20px; }
      #footer .company_info li dl {
        display: inline-block;
        margin: 0 auto; }
        #footer .company_info li dl::after {
          content: "";
          display: block;
          clear: both; }
        #footer .company_info li dl dt {
          float: left; }
        #footer .company_info li dl dd {
          float: left; }
  #footer #topBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-indent: 7px; }
    #footer #topBtn::after {
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #aaa;
      content: "";
      position: absolute;
      right: 5px;
      top: -5px;
      z-index: 1;
      width: 27px;
      height: 27px; }
    #footer #topBtn img {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      width: 40px;
      height: 30px;
      position: relative;
      z-index: 2; }

/* 모든 페이지 공통 */
#container {
  position: relative;
  padding-top: 60px; }

#container h2, #container h3 {
  font-size: 24px; }

#container h3, #container strong, #container dl dt {
  font-family: aGothic17, "맑은 고딕", "Malgun Gothic", sans-serif; }

#container .don_btn {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 35px;
  line-height: 35px;
  font-weight: 600; }

/*# sourceMappingURL=common.css.map */
