@charset "UTF-8";
/* index공통스타일 */
#container article + article {
  padding-top: 22.2222222222vw; }

/* .slogan */
.slogan {
  padding-bottom: 22.2222222222vw;
  position: fixed;
  top: 16.66666666666667vw;
  left: 0;
  width: 100%; }
  .slogan .swiper-container {
    width: 83.33333333333333%;
    margin: 0;
    left: 0;
    padding-right: calc(100% - 83.33333333333333vw);
    position: relative; }
    .slogan .swiper-container .swiper-wrapper .swiper-slide {
      padding-bottom: 133.3333333333333%;
      -webkit-background-size: cover !important;
      background-size: cover !important;
      position: relative;
      background: no-repeat center;
      /* slogan mask 애니메이션 */ }
      .slogan .swiper-container .swiper-wrapper .swiper-slide .slogan_txt {
        position: absolute;
        bottom: 17%;
        left: 5.5555555556vw; }
        .slogan .swiper-container .swiper-wrapper .swiper-slide .slogan_txt strong, .slogan .swiper-container .swiper-wrapper .swiper-slide .slogan_txt p {
          -webkit-transition: all 1s;
          -moz-transition: all 1s;
          -o-transition: all 1s;
          transition: all 1s;
          opacity: 0;
          position: relative;
          top: 5.5555555556vw; }
        .slogan .swiper-container .swiper-wrapper .swiper-slide .slogan_txt strong {
          -webkit-transition-delay: 1s !important;
          -o-transition-delay: 1s !important;
          transition-delay: 1s !important;
          display: inline-block;
          font-size: 6.6666666667vw;
          letter-spacing: -2.2px;
          margin-bottom: 2.7777777778vw; }
        .slogan .swiper-container .swiper-wrapper .swiper-slide .slogan_txt p {
          -webkit-transition-delay: 1.4s !important;
          -o-transition-delay: 1.4s !important;
          transition-delay: 1.4s !important;
          font-size: 3.8888888889vw; }
      .slogan .swiper-container .swiper-wrapper .swiper-slide.slide1 {
        background-image: url("../images/main/index-slogan1x1.jpg"); }
      .slogan .swiper-container .swiper-wrapper .swiper-slide.slide2 {
        background-image: url("../images/main/index-slogan2x1.jpg"); }
      .slogan .swiper-container .swiper-wrapper .swiper-slide.slide3 {
        background-image: url("../images/main/index-slogan3x1.jpg"); }
      .slogan .swiper-container .swiper-wrapper .swiper-slide .slide_mask {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 111.1111111111111vw; }
        .slogan .swiper-container .swiper-wrapper .swiper-slide .slide_mask::after {
          content: "";
          display: block;
          clear: both; }
        .slogan .swiper-container .swiper-wrapper .swiper-slide .slide_mask .mask {
          position: relative;
          float: left;
          width: calc(25% - 0.2777777777777778vw);
          border-right: 0.2777777778vw solid rgba(204, 204, 204, 0.3);
          height: 100%; }
          .slogan .swiper-container .swiper-wrapper .swiper-slide .slide_mask .mask::after {
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 1; }
          .slogan .swiper-container .swiper-wrapper .swiper-slide .slide_mask .mask.mask1::after {
            -webkit-transition-delay: 0s !important;
            -o-transition-delay: 0s !important;
            transition-delay: 0s !important; }
          .slogan .swiper-container .swiper-wrapper .swiper-slide .slide_mask .mask.mask2::after {
            -webkit-transition-delay: 0.3s !important;
            -o-transition-delay: 0.3s !important;
            transition-delay: 0.3s !important; }
          .slogan .swiper-container .swiper-wrapper .swiper-slide .slide_mask .mask.mask3::after {
            -webkit-transition-delay: 0.6s !important;
            -o-transition-delay: 0.6s !important;
            transition-delay: 0.6s !important; }
          .slogan .swiper-container .swiper-wrapper .swiper-slide .slide_mask .mask.mask4::after {
            -webkit-transition-delay: 0.9s !important;
            -o-transition-delay: 0.9s !important;
            transition-delay: 0.9s !important; }
    .slogan .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active .mask::after {
      width: 0;
      opacity: 0; }
    .slogan .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active .slogan_txt strong, .slogan .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active .slogan_txt p {
      opacity: 1;
      top: 0; }
    .slogan .swiper-container #bullets {
      position: absolute;
      right: 11.1111111111vw;
      bottom: 33.33333333333333vw;
      z-index: 10; }
      .slogan .swiper-container #bullets .swiper-pagination-bullet {
        -webkit-border-radius: 0;
        border-radius: 0;
        position: absolute;
        background: #000;
        width: 3.3333333333vw;
        height: 3.3333333333vw; }
        .slogan .swiper-container #bullets .swiper-pagination-bullet.slide1 {
          top: 0; }
        .slogan .swiper-container #bullets .swiper-pagination-bullet.slide2 {
          top: 6.9444444444vw; }
        .slogan .swiper-container #bullets .swiper-pagination-bullet.slide3 {
          top: 13.8888888889vw; }
    .slogan .swiper-container .swiper-pagination-fraction {
      font-weight: 600;
      position: absolute;
      top: 8.3333333333vw;
      right: 7.222222222222222vw;
      bottom: auto;
      left: auto;
      width: 19.4444444444vw;
      height: 19.4444444444vw;
      color: #000; }
      .slogan .swiper-container .swiper-pagination-fraction .swiper-pagination-current {
        font-family: aGothic17, "맑은 고딕", "Malgun Gothic", sans-serif;
        font-size: 8.3333333333vw;
        color: #fff; }
  .slogan::after {
    content: "";
    position: absolute;
    top: 61.11111111111111vw;
    right: 0;
    width: 51.11111111111111vw;
    height: 60.27777777777778vw;
    background: #e4e4e4; }

#relContent {
  position: relative;
  z-index: 200;
  background: #fff; }

/* .corona */
.corona {
  text-align: center;
  padding-top: 11.11111111111111vw !important; }
  .corona::before {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    width: 100%;
    height: 83.33333333333333vw;
    background: url("../images/main/index-corona-bgx1.jpg") no-repeat center; }
  .corona h3 {
    font-size: 6.6666666667vw;
    margin-bottom: 13.8888888889vw; }
    .corona h3 ~ p {
      margin-bottom: 8.3333333333vw; }
  .corona .corona_spon {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 76.11111111111111vw;
    background: #fff;
    color: #000;
    padding: 7.777777777777778vw;
    border-left: 0.2777777778vw solid #000;
    border-bottom: 0.2777777777777778vw solid #000; }
    .corona .corona_spon strong {
      font-size: 4.4444444444vw; }
    .corona .corona_spon ul {
      margin-top: 5.5555555556vw; }
      .corona .corona_spon ul li {
        float: left;
        position: relative;
        width: 18.88888888888889vw;
        padding-top: 0px; }
        .corona .corona_spon ul li::before {
          -webkit-border-radius: 50%;
          border-radius: 50%;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 18.88888888888889vw;
          height: 18.88888888888889vw;
          background: #badbd1; }
        .corona .corona_spon ul li img {
          width: 12.5vw;
          height: 11.1111111111vw;
          position: relative;
          top: 3.8888888889vw;
          z-index: 1;
          margin-bottom: 11.1111111111vw; }
        .corona .corona_spon ul li p {
          width: 20vw;
          letter-spacing: -0.1388888888888889vw; }
      .corona .corona_spon ul li + li {
        margin-left: 5.277777777777778vw; }
      .corona .corona_spon ul::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0.2777777778vw;
        height: 11.1111111111vw;
        background: #000; }
    .corona .corona_spon a {
      margin-top: 6.9444444444vw;
      background: #3d1322;
      color: #fff; }

/* .news */
.news {
  color: #000; }
  .news .swiper-container {
    height: 58.88888888888889vw;
    margin: 9.7222222222vw -8.3333333333vw; }
    .news .swiper-container::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      display: block;
      width: 83.88888888888889vw;
      height: 100%;
      background: #badbd1; }
    .news .swiper-container .swiper-slide {
      padding-top: 9.7222222222vw; }
      .news .swiper-container .swiper-slide::after {
        content: "";
        display: block;
        clear: both; }
      .news .swiper-container .swiper-slide img {
        float: left; }
      .news .swiper-container .swiper-slide dl {
        position: relative;
        left: 4.1666666667vw;
        top: 0;
        float: left;
        width: 50vw;
        padding-top: 11.1111111111vw; }
        .news .swiper-container .swiper-slide dl dt {
          font-size: 5vw; }
        .news .swiper-container .swiper-slide dl dd {
          position: absolute;
          font-size: 3.8888888889vw;
          font-weight: 500; }
          .news .swiper-container .swiper-slide dl dd:first-of-type {
            top: 4.1666666667vw;
            left: 0;
            font-size: 3.3333333333vw; }
          .news .swiper-container .swiper-slide dl dd:last-of-type {
            top: 25vw;
            left: 0; }
          .news .swiper-container .swiper-slide dl dd span {
            display: inline-block; }
            .news .swiper-container .swiper-slide dl dd span + span {
              position: relative;
              margin-left: 2.7777777778vw; }
              .news .swiper-container .swiper-slide dl dd span + span::before {
                content: "";
                position: absolute;
                left: -1.111111111111111vw;
                top: 0.5555555555555556vw;
                width: 0.2777777778vw;
                height: 4.1666666667vw;
                background: #666; }
    .news .swiper-container .swiper-pagination {
      bottom: 5.5555555556vw;
      left: 6.388888888888889vw; }
      .news .swiper-container .swiper-pagination .swiper-pagination-bullet {
        -webkit-border-radius: 3.3333333333vw;
        border-radius: 3.3333333333vw;
        width: 2.7777777778vw;
        height: 2.7777777778vw;
        background: #aaa;
        opacity: 1;
        margin-left: 2.7777777778vw; }
      .news .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
        width: 8.3333333333vw;
        background: #7D0D22; }
  .news #newsMore {
    top: 25vw;
    right: 5.5555555556vw; }
    .news #newsMore, .news #newsMore span {
      position: absolute; }
    .news #newsMore span {
      top: -2.7777777778vw;
      left: -4.444444444444444vw;
      font-weight: 600; }
    .news #newsMore img {
      width: 22.2222222222vw;
      height: 3.3333333333vw; }

/* UCHAMP */
.uchamp {
  margin-top: 23.61111111111111vw;
  padding-top: 29.16666666666667vw !important;
  padding-bottom: 150vw;
  background: #3d1322 url("../images/main/uchamp_bg2.svg") no-repeat; }
  .uchamp h3 {
    text-align: center;
    text-indent: 7.777777777777778vw;
    letter-spacing: -0.2777777777777778vw; }
    .uchamp h3 span {
      color: #000; }
  .uchamp .uchamp_recruit {
    margin-top: 72.22222222222222vw; }
    .uchamp .uchamp_recruit p:first-of-type {
      font-size: 3.8888888889vw;
      letter-spacing: -0.2777777777777778vw;
      margin-bottom: 9.7222222222vw; }
    .uchamp .uchamp_recruit ul li {
      font-size: 3.8888888889vw;
      margin-bottom: 5.5555555556vw; }
      .uchamp .uchamp_recruit ul li dl::after {
        content: "";
        display: block;
        clear: both; }
      .uchamp .uchamp_recruit ul li dl dt {
        float: left;
        width: 13.8888888889vw; }
      .uchamp .uchamp_recruit ul li dl dd {
        position: relative;
        float: left;
        width: 63.88888888888889vw;
        margin-left: 5.5555555556vw; }
        .uchamp .uchamp_recruit ul li dl dd::before {
          content: "";
          position: absolute;
          left: -2.222222222222222vw;
          top: 0.5555555555555556vw;
          width: 0.2777777778vw;
          height: 3.3333333333vw;
          background: #fff; }
    .uchamp .uchamp_recruit p:last-of-type {
      padding: 8.3333333333vw 0 11.1111111111vw;
      font-size: 4.4444444444vw; }
    .uchamp .uchamp_recruit #uchampMore {
      left: 11.1111111111vw; }
      .uchamp .uchamp_recruit #uchampMore, .uchamp .uchamp_recruit #uchampMore span {
        position: absolute; }
      .uchamp .uchamp_recruit #uchampMore span {
        top: -2.777777777777778vw;
        left: -2.777777777777778vw;
        color: #bdb964; }
      .uchamp .uchamp_recruit #uchampMore img {
        width: 22.2222222222vw;
        height: 3.3333333333vw; }

@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx), screen and (-webkit-min-device-pixel-ratio: 2) {
  .slogan .swiper-slide.slide1 {
    background-image: url("../images/main/index-slogan1x2.jpg"); }

  .slogan .swiper-slide.slide2 {
    background-image: url("../images/main/index-slogan2x2.jpg"); }

  .slogan .swiper-slide.slide3 {
    background-image: url("../images/main/index-slogan3x2.jpg"); }

  .corona::before {
    background-image: url("../images/main/index-corona-bgx2.jpg"); } }
@media screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx), screen and (-webkit-min-device-pixel-ratio: 3) {
  .slogan .swiper-slide.slide1 {
    background-image: url("../images/main/index-slogan1x3.jpg"); }

  .corona::before {
    background-image: url("../images/main/index-corona-bgx3.jpg"); } }

/*# sourceMappingURL=main.css.map */
